* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

input {
  width: 60%;
  margin-top: 1.5em;
  margin-left: 7em;

  padding: 1em;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

.img-header {
  width: 150px;

  position: absolute;
  left: 20px;
  top: -10px;

  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 100vw;
}

.card-container {
  display: flex;
  flex-direction: column;

  width: 260px;
  height: 400px;
  background-color: azure;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;
  height: 40px;
  width: 100%;
  background-color: #b3abab;
}

.group-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.card-group {
  padding: 4px;
  width: 60px;

  background-color: azure;
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: row;
}

.card-img {
  max-width: 70%;
  max-height: 70%;
  width: auto;
  height: auto;
  display: block; /* Center horizontally within its container */
  margin: 0 auto;
}

.type-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
  gap: 10px;
}

.type-group {
  padding: 4px;
  width: 80px;

  background-color: rgb(105, 100, 128);
  text-align: center;
}

.card-footer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px 10px 20px 10px;
  background-color: bisque;
}
