.hero-container {
  display: flex;
  flex-direction: row;

  width: 1500px;
  height: 600px;
  margin-top: 80px;
  padding: 20px;
  background-color: #d1cfc8;
  border-radius: 20px;
}

.hero-left-container {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  min-width: 650px;
  max-width: 650px;

  height: 100%;

  background-color: #f0ffff;
}

.hero-left-container h1 {
  padding: 20px;
  background-color: #b0c4de;
  margin: 10px 12px -10px 12px;
}

.hero-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  height: 70px;
  background-color: #b0c4de;
  margin: 10px;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 80px);
  background-color: #f0ffff;
}

.hero-image-container img {
  height: calc(100% - 10%);
}

.hero-right-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  background-color: #f8f8a5;
}

.hero-description {
  font-size: 40px;
  flex-grow: 1;
  padding: 21px 20px 0 20px;
}

.ability-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */

  width: 100%;
  padding: 0 30px;
  /* margin: 0 25px 25px 25px; */
}

.hero-ability-name {
  width: 300px;
  text-align: left;
}

.ability-container p {
  font-size: 24px;
  /* width: 494px; */
}

.hero-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;

  order: 1;

  gap: 20px;
  padding: 0 40px;
}

.hero-footer-container p {
  font-size: 40px;

  cursor: pointer;
}

.hero-footer-container p:hover {
  color: #89cff0;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-shadow: 0.5px 0.5px 0.5px #fff, 0 0 0.5px #89cff0, 0 0 0.5px #89cff0;
}

/* MEDIA QUERY SIZES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero-container {
    display: flex;

    min-width: 380px;
    max-width: 380px;

    height: 45dvh;
  }
  .hero-left-container {
    min-width: 180px;
    max-width: 180px;

    margin-left: -3px;
    height: 40dvh;
  }

  .hero-left-container h1 {
    height: 50px;
  }

  .hero-left-container h1 {
    font-size: 12px;
    font-weight: bold;
  }
  .hero-header {
    width: 150px;
    height: 50px;
  }
  .hero-right-container {
    min-width: 170px;
    max-width: 190px;

    height: 40dvh;
  }
  .hero-right-container h1 {
    font-size: 14px;
    width: 19px;
  }
  .hero-right-container p {
    font-size: 12px;
    margin-top: -40px;
  }
  .ability-container p {
    font-size: 10px;
    width: 100px;
    margin-top: 0.5px;
  }
  .hero-footer-container {
    width: 300px;
  }
  .hero-footer-container P {
    font-size: 13px;
    margin-top: -5px;
    margin-right: 100px;
    min-width: 80px;
  }
  .hero-footer-container img {
    width: 65px;
    margin-top: -10px;
    margin-right: -20px;
  }
  .hero-left-container {
    font-size: 10px;
  }
  .hero-image-container img {
    height: calc(100% - 35%);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  ...;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ...;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ...;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...;
}
