.hero-container {
  display: grid;
  grid-template-columns: 640px 1fr;

  width: 1400px;
  height: 640px;
  margin-top: 80px;
  padding: 20px;
  background-color: #d1cfc8;
  border-radius: 20px;
}

.hero-left-container {
  display: flex;
  flex-direction: column;

  background-color: #f0ffff;
}

.hero-left-container h1 {
  height: 60px;
  padding: 20px 20px 20px 20px;
  background-color: #b0c4de;
  margin: 10px;
  display: flex;
  align-items: center;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f0ffff;
}

.hero-image-container img {
  height: 100%;
}

.hero-right-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f8f8a5;
}

.hero-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  height: 60px;
  background-color: #b0c4de;
  margin: 10px;
}

.hero-description {
  font-size: 40px;
  flex-grow: 1;
  padding: 20px 20px 0 20px;
}

.ability-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */

  padding: 0 30px;
  /* margin: 0 25px 25px 25px; */
}

.hero-ability-name {
  text-align: left;
}

.ability-container p {
  font-size: 24px;
}

.hero-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;

  order: 1;

  gap: 20px;
  padding: 0 40px;
}

.hero-footer-container img {
}

.hero-footer-container p {
  font-size: 40px;

  cursor: pointer;
}

.hero-footer-container p:hover {
  color: #89cff0;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-shadow: 0.5px 0.5px 0.5px #fff, 0 0 0.5px #89cff0, 0 0 0.5px #89cff0;
}

/* MEDIA QUERY SIZES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;

    width: calc(100vw - 20px);
  }

  .hero-left-container {
    width: 100%;
    height: 300px;
  }

  .hero-left-container h1 {
    height: 30px;
    font-size: 12px;
    font-weight: bold;
  }

  .hero-image-container {
    height: 70%;
  }

  .hero-header {
    height: 30px;
  }
  .hero-right-container {
    height: 300px;
  }
  .hero-right-container h1 {
    font-size: 14px;
    width: 19px;
  }
  .hero-right-container p {
    font-size: 12px;
    margin-top: -40px;
  }
  .ability-container p {
    font-size: 10px;
    width: 100px;
    margin-top: 0.5px;
  }
  .hero-footer-container {
    width: 300px;
  }
  .hero-footer-container P {
    font-size: 13px;
    margin-top: -5px;
    margin-right: 100px;
    min-width: 80px;
  }
  .hero-footer-container img {
    width: 65px;
    margin-top: -10px;
    margin-right: -20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  ...;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ...;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ...;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...;
}
